.doctors-slider {
  padding: 45px 0 0;

  .button-slider {
    @media (max-width: 600px) {
      display: none;
    }
  }


  .slider-buttons-wrapper {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 25%;
    left: 0;

    @media (max-width: 650px) {
      display: none;
    }
  }

  &__flex {
    display: flex;
    min-width: 1px;
    align-items: center;
    gap: 30px;
  }

  &__slider {
    flex-grow: 1;
    min-width: 1px;
    max-width: 1250px;

  }

  .swiper-slide {
    max-width: 736px;
  }
}

.doctors-slider__wrapper {
  align-items: center;
  position: relative;
  padding-bottom: 50px;
}

.doctors-slider__item {
  color: $base;
  max-width: 736px;
  border-radius: 8px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all $nfs ease-in-out;
  transform: translateX(0) scale(0.6);
}

.doctors-slider__photo {
  height: auto;
  transition: all $nfs ease-in-out;
  position: relative;
  z-index: 2;
  transform: translateX(50%);

  @media (max-width: 1250px) {
    transform: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
    transition: all $nfs ease-in-out;

    @media (max-width: 1250px) {
      border-radius: 0;
    }
  }
}

.doctors-slider__info {
  padding: 47px 48px;
  transition: all $nfs ease-in-out;
  position: relative;
  z-index: 1;
  background-color: $base-bg;
  transform: translateX(-50%);

  @media (max-width: 1250px) {
    transform: none;
  }
}

.doctors-slider__name {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: $base;
  margin: 0;
  margin-bottom: 16px;
  font-family: $font-1;
}

.doctors-slider__specialty {
  font-size: 16px;
  line-height: 24px;
  color: $brand-5;
  display: block;
  margin: 0;
  margin-bottom: 12px;
}

.doctors-slider__description {
  font-family: $font-2;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base;
  display: block;
  margin: 0;
  margin-bottom: 29px;
}

.doctors-slider__button-sign-up {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 11px;
  font-weight: 600;
  font-family: $font-2;
  padding: 10px 16px;
  max-width: max-content;
}

.doctors-slider__button-working-hours {
  margin: 0;
}

.swiper-slide-prev .doctors-slider__item {
  transform: translateX(145px) scale(0.6);

  @media (max-width: 1250px) {
    transform: none;
  }

  .doctors-slider__photo {
    transform: translateX(100%);

    @media (max-width: 1250px) {
      transform: none;
    }
  }

  .doctors-slider__info {
    transform: translateX(0);

    @media (max-width: 1250px) {
      transform: none;
    }
  }
}

.swiper-slide-next .doctors-slider__item {
  transform: translateX(-145px) scale(0.6);

  @media (max-width: 1250px) {
    transform: none;
  }

  .doctors-slider__photo {
    transform: translateX(0);

    @media (max-width: 1250px) {
      transform: none;
    }
  }

  .doctors-slider__info {
    transform: translateX(-100%);

    @media (max-width: 1250px) {
      transform: none;
    }
  }
}

.swiper-slide-active {
  .doctors-slider__item {
    transform: translateX(0) scale(1);

    @media (max-width: 1250px) {
      transform: none;
    }

    @media (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }

  .doctors-slider__photo,
  .doctors-slider__info {
    transition-delay: 0.2s;
    transform: translateX(0);

    @media (max-width: 1250px) {
      transform: none;
    }
  }

  .doctors-slider__photo {
    img {
      border-radius: 0;
    }
  }
}
