.footer {}

.send-question {}

.wrapper {}

.send-question__left {}

.title {}

.tel-link {}

.buttons-list {}

.button {}

.button-transparent {}

.footer__main-menu {

  .main-nav-mobile {
    border: none;
  }

  .toggle-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 0;

    @media (max-width: 1024px) {
      display: flex;
    }
  }

  .main-nav-mobile__item:first-child {
    &:after {
      @media (max-width: 1024px) {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ebedef;
        position: absolute;
        top: 0;
        left: 0;
      }

    }
  }

  .main-nav-mobile__item:last-child {
    &:after {
      @media (max-width: 1024px) {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ebedef;
        position: absolute;
        bottom: 0;
        left: 0;
      }

    }

  }

  .main-nav-mobile__list--long {
    .main-nav-mobile__item {
      position: relative;

      &:before {
        @media (max-width: 1024px) {
          content: "";
          display: block;
          width: 100%;
          height: 1px;
          background-color: #ebedef;
          position: absolute;
          bottom: 0;
          left: 0;
        }

      }

    }

  }


}

.footer__submenu {
  .menu-list {
    border-top: 1px solid $border;
    border-bottom: 1px solid $border;
    padding: 30px 0;
    font-size: 14px;
    line-height: 20px;

    li {
      width: calc((100% / 4) - 24px);

      @media (max-width: 1024px) {
        width: max-content;
      }
    }
  }
}



.footer__copiryght {
  padding: 25px 0 30px;

  @media (max-width: 850px) {
    padding: 15px 0 60px;
  }

  p {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $bg-3;
  }
}
