.header {
  overflow-x: clip;
  position: sticky;
  top: 0;
  background-color: $base-bg;
  color: $base;
  z-index: 99;
  justify-content: space-between;

  .button-menu {
    display: none;

    @media (max-width: 1570px) {
      display: flex;
    }
  }

  .mobile-main-nav {
    display: none;

    .toggle-btn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;

      @media (max-width: 960px) {
        display: flex;
      }
    }
  }

  .mobile-main-nav.active {
    display: block;
    grid-column: 1/-1;
    height: 100vh;
    overflow: auto;

    .main-nav-mobile {
      max-height: 100vh;
      overflow: auto;
    }

    .wrapper {
      padding: 0;
    }
  }

  @media (max-width: 1024px) {
    .search-form form {
      flex-direction: row;
      align-items: center;
    }

    .search-form__title {
      font-weight: 500;
      font-size: 32px;
      line-height: 40px;
      max-width: 264px;
    }

    .search-form__wrapper {
      flex-basis: 300px;
    }
  }

}

.header__wrapper {
  display: grid;
  grid-template-columns: 223px auto;
  gap: 0;
  align-items: flex-start;
  border-bottom: 1px solid $border;
  position: relative;
  background: $base-bg;
  z-index: 1;

  @media (max-width: 10240px) {
    grid-template-columns: 208px auto;
  }

  @media (max-width: 960px) {
    padding: 0 !important;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 187px auto;
  }

  @media (max-width: 375px) {
    grid-template-columns: 120px auto;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 0;
    top: 1px;
    left: 100%;
    background: $base-bg;

    @media (max-width: 1450px) {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 0;
    top: 1px;
    right: 100%;
    background: $base-bg;

    @media (max-width: 1450px) {
      display: none;
    }
  }
}

.header__logo {
  width: 100%;
  margin: auto;
  margin-left: 0;
  grid-row: 1/10;
  transition: all $nfs;

  @media (max-width: 1570px) {
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ebedef;
      z-index: 2;
      top: 1px;
      right: 100%;
    }
  }

  @media (max-width: 1024px) {
    &::after {
      display: none;
    }
  }


  @media (max-width: 960px) {
    padding-left: 15px;
    grid-row: 2;
    width: 142px;
    margin: auto;
    margin-left: 25px;
  }

  @media (max-width: 695px) {
    margin-left: 0;
  }


  img {
    display: block;
  }
}

.header__top {
  padding: 11px 0 13px 34px;
  border-bottom: 1px solid $border;
  border-left: 1px solid $border;
  position: relative;
  transition: all $nfs;
  opacity: 1;
  margin-right: -1px;

  @media (max-width: 1440px) {
    padding: 11px 0 12px 15px;
  }

  @media (max-width: 960px) {
    grid-column: 1/-1;
    border: none;
    background-color: $bg-2;
    padding-left: 40px;
    padding-right: 40px;
    max-width: 100%;
    width: 100%;
  }

  @media (max-width: 695px) {
    padding-left: 19px;
    padding-right: 19px;
    padding-bottom: 8px;
  }


  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 2;
    top: 1px;
    left: 100%;

    @media (max-width: 960px) {
      display: none;
    }
  }
}

.header__menu-group {
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto;
  justify-content: space-between;

  @media (max-width: 695px) {
    gap: 16px;
  }
}

.header__submenu-right {
  .menu-list {
    justify-content: flex-end;
  }

}

.header__bottom {
  padding: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  border-left: 1px solid $border;
  align-items: center;
  margin-right: -1px;
  justify-content: space-between;
  position: relative;

  @media (max-width: 1570px) {
    grid-template-columns: auto auto;
    padding-left: 15px;
  }

  @media (max-width: 960px) {
    padding-right: 32px;
    border-left: none;
    justify-content: flex-end;
  }

  @media (max-width: 695px) {
    padding-right: 0;
  }

  @media (max-width: 375px) {
    justify-content: flex-end;
    padding: 0;
    grid-template-columns: 1fr;
    max-width: max-content;
    margin-left: auto;
  }

}

.custom-lock .header__bottom {
  @media (max-width: 1024px) {
    border-bottom: 1px solid #ebedef;
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      border-bottom: 1px solid #ebedef;
      z-index: 2;
      top: 1px;
      left: 100%;
    }
  }
}

.header__contacts {
  display: grid;
  margin-left: 60px;
  max-width: 423px;
  width: 100%;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 1570px) {
    margin-left: 32px;
  }


  @media (max-width: 1440px) {
    max-width: 345px;
    max-width: 442px;
    justify-content: flex-end;
    width: 100%;
    margin-left: initial;
    grid-template-columns: auto auto;
    gap: 13px;
  }

  @media (max-width: 680px) {
    display: none !important;
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  width: 56px;

  @media (max-width: 1570px) {
    width: 112px;
  }

  @media (max-width: 960px) {
    width: max-content;
  }

  @media (max-width: 850px) {
    padding-right: 0;
  }

  @media (max-width: 375px) {
    width: 100%;
    max-width: 100%;
    justify-content: flex-end;
  }


}

.header__main-menu {
  margin-left: 32px;
  max-width: 715px;
  width: 100%;

  @media (max-width: 1440px) {
    max-width: 673px;
    width: 100%;
    margin-right: 20px;
  }

  @media (max-width: 1570px) {
    display: none;
  }
}

.header__logo--mod {
  display: none;
}

.header__callback .button-transparent {
  max-width: 100%;
  width: 100%;
}

.header__search-form {
  display: none;
  position: absolute;
  width: 100%;
  background-color: $base-bg;
  top: 100%;
  left: 0;
  right: 0;

  .search-form__title {
    margin: 0;
  }
}

.header__search-form.active {
  display: block;
  box-shadow: 0 0 10px -3px;
}

.header {
  .button-transparent {
    &:hover {
      background: #0098d0;
      border-color: #0098d0;
    }
  }
}

.header .button-transparent {
  font-weight: 700;
  font-size: 16px;
  padding: 20px 22px;
  border-radius: 0;
  margin: 0;
  background-color: #0098d0;
  color: #fff;
  border: none;

  &:hover {
    background: #303f82;
    border-color: #303f82;
  }

  @media (max-width: 1024px) {
    padding: 20px 22px;
  }
}

.header__bottom {
  @media (max-width: 375px) {
    grid-template-columns: 1fr;
    margin-right: 0;

  }
}

.header .button-search {
  border-right: 1px solid #ebedef;
  border-radius: 0;
  width: initial;
  height: initial;
  padding: 28px 27px;
  background-color: #ffffff;

  @media (max-width: 960px) {
    margin: 0;
    border-left: none;
  }

  &:hover {
    background: #303f82;
    border-color: #303f82;
  }
}

.header__contacts {
  // grid-template-columns: auto auto;
  // gap: 18px;

  @media (max-width: 1024px) {
    width: 100%;
    max-width: 406px;
    justify-content: space-between;
    gap: 15px;
  }

  @media (max-width: 695px) {
    display: none !important;
  }
}

.header__tel {
  max-width: 185px;
  width: 100%;
}

.header .header__callback {
  max-width: 227px;
  width: 100%;
}

.header__wrapper {
  position: relative;

  @media (max-width: 965px) {
    grid-template-columns: 127px auto;
    justify-content: space-between;
  }

  @media (max-width: 735px) {
    grid-template-columns: auto auto;
  }
}

.header .button-search.active:hover {
  &:after {
    background-color: #303f82;
  }
}

// .custom-lock .header__logo {
//   border-bottom: 1px solid #ebedef;
//   display: flex;
//   align-items: center;
//   min-height: 100%;
//   position: relative;

//   &::after {
//     content: "";
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-bottom: 1px solid #ebedef;
//     z-index: 2;
//     top: 1px;
//     right: 100%;
//   }
// }

.header__search-form {
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: -100%;
    left: 0;
    position: absolute;
    background-color: #fff;
  }
}


// прилипающее меню
.header.sticky {
  position: fixed;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px -3px;


  .header__main-menu {
    max-width: 980px;
    display: flex;
    align-items: center;
    gap: 37px;

    @media (max-width: 1570px) {
      max-width: 127px;
      margin: 0;
    }

  }

  .main-nav {
    @media (max-width: 1570px) {
      display: none;
    }
  }

  .header__top,
  .header__logo {
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    opacity: 0;
    width: 0;
    grid-row: initial;
    border: none;
  }



  .header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border: none;
  }

  .header__logo--mod {
    display: flex;
    height: initial;
    overflow: initial;
    opacity: 1;
    width: 127px;
  }

  .header__bottom {
    border: none;
    grid-template-columns: auto auto auto;

    @media (max-width: 1570px) {
      display: flex;
    }

    @media (max-width: 695px) {
      justify-content: space-between;
      margin: 0;
      width: 100%;
      max-width: 100%;
      padding-left: 19px;
    }
  }

  .header__contacts {
    margin-left: 120px;

    @media (max-width: 1570px) {
      margin-left: auto;
    }

  }

  .header__wrapper::after,
  .header__wrapper::before {
    width: 0;
    height: 0;
    border: none;
  }

  .header__search-form.active {
    border-top: 1px solid #ebedef;
    // box-shadow: none;
    z-index: 0;
  }

  .header__logo::after {
    @media (max-width: 1570px) {
      display: none;
    }

  }



}

// конец

.custom-lock .header__bottom::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ebedef;
  z-index: 2;
  top: 1px;
  left: 100%;
}

.custom-lock .header__bottom::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ebedef;
  z-index: 2;
  top: 1px;
  right: 100%;
}


.custom-lock .header__wrapper::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid #ebedef;
  z-index: 2;
  top: 1px;
  right: 100%;
}

.custom-lock .header.sticky .mobile-main-nav.active {
  @media (max-width: 1024px) {
    border-top: 1px solid #ebedef;
  }

}
