.header {
  overflow-x: clip;
  position: sticky;
  top: 0;
  background-color: $base-bg;
  color: $base-content;
  z-index: 99;
  justify-content: space-between;

  .button-menu {
    display: none;

    @media (max-width: 1500px) {
      display: flex;
    }
  }

  .mobile-main-nav {
    display: none;

    .toggle-btn {
      display: none;
      position: absolute;
      right: 0;
      top: 0;

      @media (max-width: 1024px) {
        display: flex;
      }
    }
  }

  .mobile-main-nav.active {
    display: block;
    grid-column: 1/-1;
    height: 100vh;
    overflow: auto;

    /* .main-nav-mobile {
      height: 100vh;
      overflow: auto;
    } */

    .wrapper {
      padding: 0;

      @media (max-width: 1024px) {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }

  .menu-list--mod {
    li {
      @media (max-width: 850px) {
        &:last-child {
          display: none;
        }
      }
    }

  }


}

.header__wrapper {
  display: grid;
  grid-template-columns: 224px auto;
  gap: 0;
  align-items: flex-start;
  border-bottom: 1px solid $border;
  position: relative;
  background: $base-bg;
  z-index: 1;

  @media (max-width: 1024px) {
    padding: 0;
  }

  @media (max-width: 850px) {
    grid-template-columns: auto auto;
    padding: 0 !important;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 0;
    top: 1px;
    left: 100%;
    background: $base-bg;

    @media (max-width: 1450px) {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 0;
    top: 1px;
    right: 100%;
    background: $base-bg;

    @media (max-width: 1450px) {
      display: none;
    }
  }
}

.header__logo {
  width: 100%;
  margin: auto;
  margin-left: 0;
  grid-row: 1/10;

  @media (max-width: 1024px) {
    grid-row: 2;
    width: 127px;
    margin: auto;
    margin-left: 25px;
  }

  @media (max-width: 850px) {
    margin-left: 0;
    padding-left: 15px;
  }

  img {
    display: block;
  }
}

.header__top {
  padding: 10px 0 10px 30px;
  border-bottom: 1px solid $border;
  border-left: 1px solid $border;
  position: relative;

  @media (max-width: 1024px) {
    grid-column: 1/-1;
    border: none;
    background-color: $bg-2;
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: 850px) {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
    width: 100%;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid $border;
    z-index: 2;
    top: 1px;
    left: 100%;

    @media (max-width: 1024px) {
      display: none;
    }
  }
}

.header__menu-group {
  display: grid;
  gap: 32px;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

.header__submenu-right {
  .menu-list {
    justify-content: flex-end;
  }

}

.header__bottom {
  padding: 0 0 0 30px;
  display: grid;
  gap: 10px;
  grid-template-columns: auto 400px 40px;
  grid-column: 2/-1;
  border-left: 1px solid $border;
  align-items: center;

  @media (max-width: 1500px) {
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    border: none;
    padding: 0;
  }

  @media (max-width: 850px) {
    grid-template-columns: auto;
    justify-content: flex-end;
  }

}

.header__contacts {
  display: grid;
  grid-template-columns: 185px 165px;
  gap: 32px;
  align-items: center;
  margin-left: auto;

  @media (max-width: 850px) {
    display: none;
  }
}

.header__buttons {
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
    padding-right: 25px;
  }

  @media (max-width: 850px) {
    padding-right: 0;
  }


}

.header__main-menu {
  @media (max-width: 1500px) {
    display: none;
  }
}

// прилипающее меню
.header.sticky {
  position: fixed;
  width: 100%;
  border: none;
  box-shadow: 0 0 10px -3px;

  .wrapper {
    grid-template-columns: 127px auto;

    @media (max-width: 1024px) {
      grid-template-columns: 200px auto;
    }
  }

  .header__logo {
    @media (max-width: 1024px) {
      grid-row: 1;
      margin: auto;
    }
  }

  .header__top {
    display: none;
  }

  .header__bottom {
    border: none;
  }
}

.header__search-form {
  display: none;
  position: absolute;
  width: 100%;
  background-color: $base-bg;
  top: 100%;
  left: 0;
  right: 0;
}

.header__search-form.active {
  display: block;
  box-shadow: 0 0 10px -3px;
}
