.main-search {
  padding: 80px 0 40px;
  margin-bottom: 25px;

  @media (max-width: 1440px) {
    margin-bottom: 0;
    padding-top: 80px;
    padding-bottom: 65px;
  }

  @media (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  @media (max-width: 375px) {
    padding-top: 30px;
  }

  .title {
    margin-bottom: 0;
  }

  .search-form__button {
    padding: 19px 84px;
    @media (max-width: 1024px) {
      padding: 19px 76px;
    }

    @media (max-width: 375px) {
      padding: 10px 19px;
    }
  }

  .wrapper {
    // @media (max-width: 768px) {
    //   padding: 0;
    // }

    @media (max-width: 375px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .search-form__wrapper {
    @media (max-width: 768px) {
      flex-basis: 100%;
    }

  }

  .search-form__title {
    @media (max-width: 375px) {
      display: block;
    }
  }

}

.main-search.search-form--mod {
  padding: 80px 0 49px;

  .wrapper {
    @media (max-width: 768px) {
      flex-basis: 100%;
      margin: 0 40px;
      margin: 0 auto;
      max-width: 688px;
    }
  }



}


