.main-ratings {
  padding: 45px 0 80px;

  @media (max-width: 1024px) {
    padding-top: 30px;
  }

  @media (max-width: 768px) {
    padding-top: 17px;
    padding-bottom: 66px;
  }

  @media (max-width: 375px) {
    padding-top: 8px;
    padding-bottom: 40px;
  }
}

.main-ratings__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: $base;
  margin: 0;
  margin-bottom: 23px;

  @media (max-width: 375px) {
    font-size: 24px;
    margin-bottom: 8px;
  }
}

.main-ratings__list {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0 auto;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: 768px) {
    gap: 30px 40px;
  }

  @media (max-width: 375px) {
    gap: 15px;
  }
}

.main-ratings__item {
  max-width: calc(25% - 32px);
  width: 100%;
  display: block;
  padding: 21px 32px;
  color: $base;
  background: $brand-6;
  border: 1px solid $border-2;
  border-radius: 8px;
  text-decoration: none;
  min-height: 192px;
  width: 100%;

  @media (max-width: 1440px) {
    padding: 25px 32px 30px;
  }

  @media (max-width: 1024px) {
    padding: 25px 22px 35px;
  }

  @media (max-width: 920px) {
    flex-basis: 328px;
  }

  @media (max-width: 768px) {
    max-width: calc(50% - 20px);
    padding: 24px 31px 35px;
    display: flex;
    flex-direction: column;
  }

  @media (max-width: 375px) {
    padding: 21px 11px 27px;
    width: 100%;
    max-width: calc(50% - 10px);
    min-height: initial;
  }
}

.main-ratings__item-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 24px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 70px;

  @media (max-width: 1380px) {
    gap: 8px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
  }

  @media (max-width: 1024px) {
    margin-bottom: 33px;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
    gap: 25px;
  }

  @media (max-width: 450px) {
    margin-bottom: 30px;
  }

  @media (max-width: 375px) {
    gap: 3px;
    margin-bottom: 0;
  }
}

.main-ratings__score {
  font-size: 40px;
  line-height: 54px;
  letter-spacing: -0.02em;
  color: $base;
  display: block;

  @media (max-width: 1380px) {
    font-size: 32px;
    line-height: 120%;
  }

  @media (max-width: 1024px) {
    font-size: 40px;
  }

  @media (max-width: 375px) {
    font-size: 32px;
    line-height: 100%;
  }
}

.main-ratings__stars {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;

  @media (max-width: 375px) {
    img {
      width: 15px;
      height: 15px;
    }
  }
}

.main-ratings__logo {
  max-height: 16px;
  width: auto;
  margin: 0;
  margin-top: auto;
  display: block;

  @media (max-width: 375px) {
    margin-top: 15px;
  }
}



