.main-search {
  padding: 76px 0 40px;
  margin-bottom: 25px;

  @media (max-width: 1024px) {
    margin-bottom: 0;
    padding: 50px 0 30px;
  }

  .title {
    margin-bottom: 0;
  }

  .search-form__button {
    padding: 19px 84px;
  }

}
