.main-faq {
  padding: 72px 0 49px;
}

.title {
  margin: 0;
  margin-bottom: 40px;
}

.main-faq__list,
.main-faq__sublist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-faq__item,
.main-faq__subitem {
  border-top: 1px solid $border-2;
  padding: 30px 24px 26px;

  @media (max-width: 1024px) {
    padding: 28px 5px 28px 24px;
  }


  @media (max-width: 920px) {
    padding: 20px 0;
  }
}

.main-faq__subitem {
  @media (max-width: 1024px) {
    padding: 28px 19px 28px 31px;
  }

}

.main-faq__issue {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: $base;
  margin: 0;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 65px;
  cursor: pointer;

  @media (max-width: 920px) {
    font-size: 16px;
  }

  &::after {
    content: url(../img/icons/icon-arrow-faq.svg);
    display: block;
    position: absolute;
    right: 24px;
    transition: 0.3s;
  }
}

.main-faq__item.active .main-faq__issue {
  color: $brand-1;
  margin-bottom: 30px;
  transition: 0.3s;

  @media (max-width: 1024px) {
    margin-bottom: 37px;
  }

  &::after {
    content: url(../img/icons/icon-arrow-faq-active.svg);
    transform: rotate(270deg);
  }
}

.main-faq__answer {
  font-size: 16px;
  line-height: 24px;
  color: $base;
  height: 0;
  overflow: hidden;
  margin: 0 auto;
  max-width: 992px;
  transition: 0.3s;

}

.main-faq__item.active .main-faq__answer {
  height: auto;
  // max-width: 1250px;
}

.main-faq__answer--mod {
  height: initial;
  max-width: 992px;

}

.main-faq--price {
  .main-faq__issue::after {
    transform: rotate(90deg);
  }

  .main-faq__issue.active::after {
    transform: rotate(270deg);
  }
}

.main-faq__item.active .main-faq__subitem {
  .main-faq__issue {
    color: #334257;
  }

  .main-faq__issue::after {
    transform: rotate(90deg);
    content: url(../img/icons/icon-arrow-faq.svg);
  }

  .main-faq__answer {
    height: 0;
    overflow: hidden;
  }

  .main-faq__issue {
    margin-bottom: 0;
  }
}

.main-faq__item.active .main-faq__subitem.active {
  .main-faq__issue {
    color: #0098d0;
  }

  .main-faq__issue::after {
    transform: rotate(270deg);
    content: url(../img/icons/icon-arrow-faq-active.svg);
  }

  .main-faq__answer {
    height: auto;
    margin: 0 auto;
  }

  .main-faq__issue {
    margin-bottom: 30px;
  }
}

.main-faq--price {
  .main-faq__item .main-faq__answer {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;

    @media (max-width: 1024px) {
      max-width: 788px;
    }

    @media (max-width: 768px) {
      max-width: 640px;
    }

  }

  .main-faq__subitem .main-faq__answer {
    max-width: 992px;

    @media (max-width: 1024px) {
      max-width: 590px;
      margin: 0 auto;
    }

  }
}

.main-faq--price {
  padding-top: 0;
}

.main-faq--price .main-faq__item .main-faq__issue {
  &::after {
    content: url(../img/icons/icon-price-list.svg);
    transform: rotate(180deg);
  }
}

.main-faq--price .main-faq__item.active .main-faq__issue {
  &::after {
    transform: rotate(270deg);
    content: url(../img/icons/icon-arrow-faq-active.svg);
  }
}

.main-faq--price .main-faq__item.active .main-faq__sublist .main-faq__issue {
  &::after {
    transform: rotate(180deg);
    content: url(../img/icons/icon-price-list.svg);
  }
}

.main-faq--price .main-faq__item.active .main-faq__subitem.active .main-faq__issue {

  &::after {
    transform: rotate(270deg);
    content: url(../img/icons/icon-arrow-faq-active.svg);
  }

}
