.main-tour {
  padding-bottom: 75px;
}

.main-tour__content {
  display: grid;
  align-items: stretch;
  justify-content: space-between;
  grid-template-columns: 1fr 330px;
  flex-wrap: wrap;
  gap: 55px;

  @media (max-width: 780px) {
    grid-template-columns: 1fr;
  }
}

.main-tour__left {
  background: $base-bg;
  border: 1px solid $border-2;
  box-sizing: border-box;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: $bg-4;
  font-family: $font-1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;

  @media (max-width: 780px) {
    min-height: 360px;
  }
}

.main-tour__sidebar {

  @media (max-width: 780px) {
    max-height: 390px;
    margin: 0 auto;
  }
}
