.map-location {
  padding: 18px 0;

  @media (max-width: 1440px) {
    padding: 34px 0;
  }

  @media (max-width: 375px) {
    padding: 19px 0;
  }

  .choices__item:hover {
    color: $brand-4;
  }

  .header-with-button {
    align-items: baseline;

    @media (max-width: 920px) {
      flex-direction: column;
      gap: 10px;
      margin-bottom: 10px;
    }
  }

  .text-field__label {
    @media (max-width: 920px) {
      display: none;
    }
  }

  .part-head__form {
    margin-top: 12px;

    @media (max-width: 375px) {
      margin-top: 0;
    }
  }

  .choices__list--single,
  .choices[data-type*=select-one] .choices__inner {
    padding: 0;
  }

  .choices {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 32px;
  }

  .choices[data-type*=select-one]::after {
    top: initial;
    right: 0;
  }

  .button-plus {
    text-transform: initial;
  }

  .custom-select__label {
    @media (max-width: 375px) {
      display: none;
    }
  }

  // .wrapper {
  //   @media (max-width: 768px) {
  //     padding: 0;
  //   }
  // }

  .part-head {
    @media (max-width: 768px) {
      gap: 7px;
    }
  }

}

.map-location--mod {
  padding: 0;
  padding-bottom: 50px;
}

.map-location__area {
  width: 100%;
  display: block;
  position: relative;
  margin-bottom: -5px;
  height: 360px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.map-location__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: 1px solid $border;
  border-radius: 0 0 8px 8px;

  @media (max-width: 920px) {
    flex-direction: column;
  }

  .buttons-wrapper {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;

    @media (max-width: 920px) {
      flex-direction: row;
      gap: 25px;
    }

    @media (max-width: 768px) {
      gap: 15px;
    }

    @media (max-width: 550px) {
      flex-direction: column;
      gap: 10px;
    }


  }
}

.map-location__item {
  padding: 50px 65px;
  width: calc(100% / 3);
  flex-grow: 1;
  position: relative;
  border-right: 1px solid $border;

  @media (max-width: 1440px) {
    padding: 45px 40px;
  }

  @media (max-width: 1024px) {
    padding: 26px 15px 26px 31px;
  }

  /* @media (max-width: 1350px) {
    padding: 30px 21px 35px 31px;
  } */

  @media (max-width: 920px) {
    width: 100%;
    padding: 35px;
    position: relative;
    border: none;
  }

  @media (max-width: 768px) {
    padding: 30px 30px 27px;
  }

  @media (max-width: 550px) {
    width: 100%;
    max-width: 100%;
    padding: 20px;
  }

  &::after {
    @media (max-width: 920px) {
      content: "";
      display: block;
      height: 1px;
      background-color: $bg-1;
      position: absolute;
      bottom: 0;
      margin: 0 35px;
      left: 0;
      right: 0;
    }
  }

}

.map-location__item--text {
  svg {
    position: absolute;
    top: 50px;
    left: 32px;
    fill: $brand-4;
    transition: $nfs linear;

    &:hover {
      fill: $brand-1;
    }

    @media (max-width: 1350px) {
      position: initial;
      margin-bottom: 14px;
    }

    @media (max-width: 768px) {
      position: absolute;
      margin-bottom: initial;
      top: 37px;
    }

    @media (max-width: 375px) {
      position: initial;
      margin-bottom: 14px;
    }
  }
}

.map-location__item:last-child {
  border-right: none;

  @media (max-width: 920px) {
    &::after {
      display: none;
    }
  }
}

.map-location__name {
  font-family: $font-1;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: $base;
  margin: 0;
  margin-bottom: 25px;
  display: block;

  @media (max-width: 550px) {
    margin-bottom: 17px;
    font-size: 18px;
    line-height: 120%;
  }

}

.map-location__text {
  margin: 0;
  margin-left: 24px;

  @media (max-width: 1350px) {
    margin-left: 0;
  }

  @media (max-width: 768px) {
    margin-left: 65px;
  }

  @media (max-width: 375px) {
    margin-left: 0;
  }

  p,
  li {
    font-size: 16px;
    line-height: 24px;
    color: $brand-5;
    margin: 0;
    margin-bottom: 15px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  li {
    margin-bottom: 5px;
  }

  li a {
    font-size: 16px;
    line-height: 24px;
    color: $base;
    text-decoration: none;
    transition: $nfs linear;

    &:hover {
      color: $brand-4;
    }
  }
}

.map-location__buttons .button--plus {
  text-transform: none;
}

.buttons-wrapper__item:first-child {
  @media (max-width: 550px) {
    width: 100%;
    max-width: 100%;
  }
}

.map-location__buttons .button {
  @media (max-width: 375px) {
    max-width: 100%;
    width: 100%;
  }
}

.map-location--mod {
  .map-location__item,
  .map-location__list {
    border: none;
  }

  .map-location__item {
    padding: 30px 31px;
  }

  .map-location__item--text svg {
    top: 24px;
    left: 0px;
  }

  .map-location__tel-group {
    margin: 0;
  }
}

.map-location__tel-group {
  font-weight: 700;
  font-weight: bold;
  font-size: 18px;
  line-height: 56px;
  /* or 311% */


  /* dark */

  color: #334257;
}


.map-location__item--mod {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.map-location__cust-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 56px;


  b {
    font-weight: 700;
  }
}

.map-location__cust-text li {
  color: #334257 !important;
}


