.send-question {
  padding: 37px 0;
  background-color: $bg-1;
  color: $base;

  @media (max-width: 1024px) {
    padding-bottom: 26px;
  }

  @media (max-width: 768px) {
    padding-top: 25px;
    padding-bottom: 31px;
  }

  @media (max-width: 375px) {
    padding-top: 23px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    @media (max-width: 768px) {
      gap: 13px;
    }

    @media (max-width: 375px) {
      gap: 0;
    }
  }

  .buttons-wrapper .button,
  .buttons-wrapper .button-transparent {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;
    padding: 17px 22px;

    @media (max-width: 1024px) {
      padding: 17px;
    }

    @media (max-width: 768px) {
      padding: 17px 22px;
    }
  }
}

.send-question__left {
  max-width: 910px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 33px;
  width: 100%;

  @media (max-width: 1300px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  @media (max-width: 1024px) {
    max-width: 480px;
  }

  @media (max-width: 375px) {
    gap: 0;
  }

  .title {
    font-family: $font-1;
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    color: $base;
    margin: 0;
    max-width: 470px;

    @media (max-width: 1300px) {
      max-width: 100%;
    }

    @media (max-width: 550px) {
      color: $bg-4;
      font-weight: 600;
      font-size: 12px !important;
      line-height: 16px;
      font-family: $font-2;
    }
  }

  .tel-link {
    font-size: 32px;
    line-height: 40px;

    @media (max-width: 550px) {
      font-size: 20px;
    }
  }
}

.send-question__right {
  @media (max-width: 940px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 14px;
    justify-content: space-between;
    width: 100%;
    max-width: max-content;
  }

  @media (max-width: 370px) {
    grid-template-columns: 1fr;
  }

  .button {
    text-align: center;
    font-size: 12px;

    @media (max-width: 370px) {
      width: 100%;
      max-width: 100%;
    }
  }
}

.send-question .buttons-wrapper {
  gap: 15px;
}

.send-question .buttons-wrapper {
  .button,
  .button-transparent {
    @media (max-width: 375px) {
      width: 160px;
      padding: 10px;
      max-width: 100%;

    }
  }
}
