.specialist-list {
  padding: 45px 0 0;

  .button-plus {
    text-transform: initial;
    margin: 0 auto;
  }
}

.specialist-list__wrapper {
  @include custList;
  display: grid;
  gap: 32px;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  @media (max-width: 1024px) {
  //grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }

}

.specialist-list__item {
  border-radius: 8px;
  overflow: hidden;
  //border: 1px solid $border-2;
  padding: 0 60px;

  @media (max-width: 1024px) {
    padding: 0;
  }

  @media (max-width: 650px) {
    max-width: 352px;
    margin: 0 auto;
  }

  .button-big {
    margin-bottom: 8px;
  }
}

.specialist-list__link {
  text-decoration: none;
  color: $base;
  display: block;

}

.specialist-list__photo {
  display: block;

  @media (max-width: 375px) {
    max-width: 155px;
    margin: 0 auto;
  }
}

.specialist-list__details {
  //background-color: $base-bg;
  color: $base;
  padding: 20px 0 30px;
}

.specialist-list__name {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: $base;
  font-family: "Montserrat",
  sans-serif;
  text-align: center;
}

.specialist-list__profile,
.specialist-list__work-experience,
.specialist-list__achievements {
  font-size: 16px;
  line-height: 24px;
  color: $brand-5;
  margin: 0;
  display: block;
  //margin-bottom: 5px;
  text-align: center;
}

.specialist-list__work-experience {
  margin-bottom: 26px;
}

.specialist-list__description {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base;
  margin: 0;
  margin-bottom: 20px;
}


