.top-slider {
  padding: 35px 0;

  @media (max-width: 1440px) {
    padding-top: 31px;
    padding-bottom: 32px;
  }

  @media (max-width: 768px) {
    padding: 30px 0;
  }

  @media (max-width: 375px) {
    padding-top: 19px;
    padding-bottom: 15px;

  }

  .slider-buttons-wrapper {
    justify-content: flex-end;

    @media (max-width: 450px) {
      display: none;
    }
  }

  .button-slider {
    border-radius: 0;
    padding: 35px 55px;

    &:hover,
    &:focus,
    &:active {
      background-color: #ffffff;
    }

  }

  .wrapper {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

}

.top-slider__wrapper {
  position: relative;
}

.top-slider__item {
  display: flex;
  gap: 32px;
  align-items: flex-start;

  @media (max-width: 1024px) {
    align-items: initial;
  }

  @media (max-width: 950px) {
    align-items: stretch;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 23px;
  }

  .button {
    padding: 19px 24px;
    font-size: 16px;
    margin-bottom: 155px;

    @media (max-width: 1450px) {
      margin-bottom: 20%;
    }

    @media (max-width: 1280px) {
      margin-bottom: 155px;
    }

    @media (max-width: 1024px) {
      margin-bottom: 128px;
    }

    @media (max-width: 950px) {
      margin-bottom: 30%;
    }

    @media (max-width: 850px) {
      margin-bottom: 35px;
    }

    @media (max-width: 450px) {
      max-width: 100%;
    }

    @media (max-width: 375px) {
      margin-bottom: 20px;
    }
  }
}

.top-slider__image {
  border-radius: 8px;
  overflow: hidden;
  margin-right: 112px;
  width: 100%;
  max-width: 752px;

  @media (max-width: 1440px) {
    margin-right: 98px;
    max-width: 655px;
  }

  @media (max-width: 1280px) {
    margin-right: 0;
    max-width: 592px;
  }

  @media (max-width: 850px) {
    max-height: 440px;
  }

  @media (max-width: 768px) {
    max-width: 100%;
  }

  @media (max-width: 375px) {
    max-height: 240px;
  }

  img {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.top-slider__item-details {
  margin-top: 94px;
  width: 100%;
  max-width: 480px;

  @media (max-width: 1440px) {
    margin-top: 50px;
  }

  @media (max-width: 375px) {
    padding: 0 20px;
    margin-top: 0;
  }
}

.top-slider__title {
  font-family: $font-1;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: $base;
  max-width: 480px;
  margin: 0;
  margin-bottom: 38px;

  @media (max-width: 1440px) {
    max-width: initial;
  }

  @media (max-width: 1280px) {
    margin-bottom: 30px;
  }

  @media (max-width: 1024px) {
    max-width: 360px;
    font-size: 32px;
    margin-bottom: 16px;
  }

  @media (max-width: 850px) {
    max-width: initial;
    margin-bottom: 15px;
  }

  @media (max-width: 375px) {
    font-weight: 500;
    font-size: 24px;
    line-height: 133%;
  }
}

.top-slider__subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: $brand-5;
  display: block;
  margin: 0;
  margin-bottom: 42px;

  @media (max-width: 1280px) {
    font-size: 24px;
    margin-bottom: 36px;
  }

  @media (max-width: 1024px) {
    font-size: 20px;
    margin-bottom: 30px;
  }

  @media (max-width: 375px) {
    font-size: 16px;
    line-height: 120%;
    margin-bottom: 24px;
  }
}

.top-slider__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  border-top: 1px solid $border;
  border-bottom: 1px solid $border;
  flex-wrap: wrap;

  max-width: 610px;
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;

  @media (max-width: 1440px) {
    max-width: 530px;
    width: 100%;
  }

  @media (max-width: 1280px) {
    max-width: 590px;
  }

  @media (max-width: 1024px) {
    max-width: 448px;
  }

  @media (max-width: 850px) {
    max-width: initial;
    position: initial;
  }

  @media (max-width: 450px) {
    display: block;
    border: none;
    margin: 0 auto;
    max-width: max-content;
  }
}

.top-slider__pagination {
  position: initial;
  max-width: max-content;
  line-height: 0;
}

.top-slider__button-next {
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.top-slider__button-prev {
  border: none;

}

.top-slider {

  .swiper-button-prev,
  .swiper-button-next {

    &:hover,
    &:active,
    &:focus {
      .button-slider__icon {
        stroke: #c3167c;
      }
    }

  }

}

@media (max-width: 1024px) {
  .top-slider .swiper-pagination .swiper-pagination-bullet {
    &:first-child {
      margin-left: 0 !important;
    }
  }
}
