.button-center {

  align-items: center;
  background: $brand-1;
  border: 1px solid $brand-1;
  font-family: $font-2;
  font-style: normal;
  font-weight: 600;
  color: $base-bg;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  margin: 0 auto;
  max-width: 480px;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 43px;
  transition: $nfs linear;

  &:hover {
    background: $brand-3;
    border-color: $brand-3;
  }
}
