.button-arrow {
  display: flex;
  align-items: center;
  background: $brand-1;
  border: 1px solid $brand-1;
  font-family: $font-2;
  text-decoration: none;
  transition: $nfs linear;
  cursor: pointer;
  background: transparent;
  color: $brand-1;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  background-color: $base-bg;
  border-radius: 4px;
  padding: 10px 16px 11px 42px;
  max-width: max-content;
  width: initial;
  justify-content: space-between;
  position: relative;


  svg {
    position: absolute;
    left: 10px;
    stroke: $brand-1;

  }

  &:hover {
    background: $brand-3;
    border-color: $brand-3;
    color: $base-bg;

    svg {
      position: absolute;
      left: 10px;
      stroke: $base-bg;
    }
  }
}
