.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: $brand-1;
  border: 1px solid $brand-1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base-bg;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  transition: .15s linear;
  cursor: pointer;

  &:hover {
    background: $brand-3;
    border-color: $brand-3;
  }
}

.button-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: transparent;
  font-family: 'Open Sans',
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $brand-1;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  border: 1px solid $brand-2;
  transition: .15s linear;
  cursor: pointer;

  &:hover {
    background: $brand-3;
    color: $base-bg;
    border-color: $brand-3;
  }
}
