.button-read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: transparent;
  border: 1px solid $brand-1;
  color: $brand-1;
  font-family: $font-2;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  border-radius: 4px;
  text-decoration: none;
  transition: $nfs linear;
  cursor: pointer;

  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;

  &:hover {
    background: $brand-3;
    border-color: $brand-3;
    color: $base-bg;
  }
}
