.button-search {
  background: $bg-1;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 38px;
  height: 38px;
  transition: $nfs linear;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media (max-width: 1280px) {
    background: $base-bg;
    border-radius: 0;
    padding: 28px 44px;
    border-left: 1px solid $border;
    border-right: 1px solid $border;
  }

  @media (max-width: 768px) {
    padding: 29px 38px;
    margin-right: 12px;
  }

  @media (max-width: 375px) {
    margin-right: 0;
    border: none;
    padding: 35px 44px;
    border-left: 1px solid #ebedef;
  }

}

.button-search__toggle {
  display: block;
  position: absolute;
  height: 14px;
  width: 14px;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    transition: all $nfs;
  }

  &::before {
    border: 2px solid $base;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
    pointer-events: none;
  }

  &::after {
    height: 2px;
    width: 7px;
    background: $base;
    top: 11px;
    left: 9px;
    transform: rotate(45deg);
    border-radius: 8px;
    pointer-events: none;
  }
}

.button-search:hover {
  background: $brand-3;
  color: $base-bg;

  @media (max-width: 1500px) {
    background: $base-bg;
  }

  .button-search__toggle {
    &::before {
      border: 2px solid $base-bg;

      @media (max-width: 1500px) {
        border-color: $brand-1;
      }
    }

    &::after {
      background: $base-bg;

      @media (max-width: 1500px) {
        background: $brand-1;
      }
    }
  }
}

.button-search.active {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }

  .button-search__toggle {
    &::before {
      width: 0;
      border-width: 1px;
      border-radius: 0;
      transform: rotate(45deg);
      height: 24px;
      top: -4px;
      left: 6px;
    }

    &::after {
      width: 24px;
      left: -5px;
      height: 2px;
      top: 7px;
      border-radius: 0;
    }
  }
}
