.button-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 45px;
  background-color: $base-bg;
  border: 1px solid $border-2;
  border-radius: 4px;
  cursor: pointer;
  position: initial;
  margin: 0;
  transition: 0.3s linear;

  @media (max-width: 1440px) {
    padding: 40px;
  }
  @media (max-width: 1024px) {
    padding: 24px;
  }

  /* @media (max-width: 1450px) {
    padding: 23px;
  } */

  &::after {
    display: none !important;
  }

}

.button-slider:hover,
.button-slider:focus
{
  background-color: #303F82;
  .button-slider__icon {
    stroke: #ffffff;
  }

}

.button-slider__icon {
  width: 15px;
  height: 25px;
  pointer-events: none;
  position: absolute;
  stroke: $brand-3;
  stroke-width: 2;
  fill: none;
  transition: 0.3s linear;

}

.swiper-pagination .swiper-pagination-bullet {
  transition: 0.3s linear;

  &:hover,
  &:focus {
    background-color: #0098d0;
    opacity: 1;
  }
}

.swiper-pagination .swiper-pagination-bullet-active {
  &:hover,
  &:focus,
  &:active {
    background-color: #c3167c;
  }
}
