.button-plus {
  display: flex;
  justify-content: space-between;
  padding: 13px 16px 11px 32px;
  padding-left: 42px;
  transition: $nfs linear;
  position: relative;
  background: transparent;
  border: 1px solid $brand-1;
  border-radius: 4px;
  color: $brand-1;
  text-decoration: none;
  max-width: max-content;
  align-items: center;
  font-size: 12px;
  line-height: 100%;
  //text-transform: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;

  svg {
    width: 16px;
    height: 16px;
    position: absolute;
    left: 15px;
    fill: $brand-1;
  }

}



.button-plus:hover {
  background: $brand-3;
  border-color: $brand-3;
  color: $base-bg;

  svg {
    fill: $base-bg;
  }


}
