.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: $base;
    margin: 0 8px !important;
    display: inline-block;
  }
  .swiper-pagination-bullet-active {
    background-color: $brand-4;
  }
}

