.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: $brand-1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base-bg;
  border-radius: 4px;
}
