.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: $brand-1;
  border: 1px solid $brand-1;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base-bg;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  transition: .15s linear;
  cursor: pointer;

  &:hover {
    background: $brand-3;
  }
}

.button-transparent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 16px 11px;
  background: transparent;
  font-family: 'Open Sans',
    sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $brand-1;
  border-radius: 4px;
  max-width: max-content;
  text-decoration: none;
  border: 1px solid $brand-2;
  transition: .15s linear;
  cursor: pointer;

  &:hover {
    background: $brand-3;
    color: $base-bg;
  }
}

.button-plus {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px 11px;
  padding-left: 42px;
  transition: .2s linear;
  position: relative;
  background: transparent;
  border: 1px solid $brand-1;
  border-radius: 4px;
  color: $brand-1;
  text-decoration: none;
  max-width: max-content;
  align-items: center;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  cursor: pointer;

}

.button__icon-plus {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 15px;
  fill: $brand-1;
}

.button-plus:hover {
  background: $brand-1;
  color: $base-bg;

  .button__icon-plus {
    fill: $base-bg;
  }
}

.button-search {
  background: $bg-1;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 38px;
  height: 38px;
  transition: .15s linear;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background: $brand-3;
  }

}

.button-search__toggle {
  display: block;
  position: absolute;
  height: 14px;
  width: 14px;
  pointer-events: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    transition: all 0.1s;
  }

  &::before {
    border: 2px solid $base-content;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    left: -2px;
    top: -2px;
    pointer-events: none;
  }

  &::after {
    height: 2px;
    width: 7px;
    background: $base-content;
    top: 11px;
    left: 9px;
    transform: rotate(45deg);
    border-radius: 8px;
    pointer-events: none;
  }
}

.button-search:hover {
  background: $brand-3;
  color: $base-bg;

  .button-search__toggle {
    &::before {
      border: 2px solid $base-bg;
    }

    &::after {
      background: $base-bg;
    }
  }
}

.button-search.active {
  .button-search__toggle {
    &::before {
      width: 0;
      border-width: 1px;
      border-radius: 0;
      transform: rotate(45deg);
      height: 24px;
      top: -4px;
      left: 6px;
    }

    &::after {
      width: 24px;
      left: -5px;
      height: 2px;
      top: 7px;
      border-radius: 0;
    }
  }
}

/* .search-button:hover,
.search-button:focus {
  .search-toggle::after {
    background: #ffffff;
  }

  .search-toggle::before {
    border-color: #ffffff;
  }

  @media (max-width: 1515px) {
    .search-toggle::after {
      background: #0098d0;
    }

    .search-toggle::before {
      border-color: #0098d0;
    }
  }
} */
