.download {
  padding: 55px 0 45px;

  .wrapper {
    max-width: 992px;
  }
}

.download__title {
  font-family: $font-1;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: $base;
  margin: 0;
  margin-bottom: 30px;
}

.download__list {
  @include custList;
}

.download__item {
  margin-bottom: 25px;

}

.download__link {
  display: flex;
  align-items: center;
}

.download__link span {
  font-family: $font-1;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  color: $brand-1;
  text-decoration: none;
  display: flex;
  flex-direction: column;

  small {
    font-family: $font-2;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: $base;
    display: block;
  }
}

.download__icon {
  margin-right: 35px;
}
