.menu-list {
  @include custList;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;

  font-family: $font-2;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: $base;

  a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
    transition: $nfs linear;

    &:hover {
      color: $brand-1;
    }
  }

}
