.part-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 24px;
  gap: 20px;

  @media (max-width: 375px) {
    gap: 10px;
  }

  .title {
    margin: 0;
  }
}

