.tel-link {
   font-family: $font-1;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $base;
  text-decoration: none;
  display: flex;
  transition: $nfs linear;

  @media (max-width: 1440px) {
    font-size: 18px;
  }

  &:hover {
    color: $brand-1;
  }
}
