.wrapper {
  max-width: 1534px;
  min-width: 320px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;

  /* @media (max-width: 875px) {
    max-width: 875px;
    padding-left: 16px;
    padding-right: 16px;
  } */
}
