:root {
  --ff-1: 'Montserrat', sans-serif;
  --ff-2: 'Open Sans', sans-serif;
}

body {
  overflow-x: hidden;
}

.search .breadcrumbs {
  margin-bottom: 27px;
  padding: 37px 0 0;
}

@media (max-width: 500px) {
  .search .breadcrumbs {
    padding: 24px 0 0;
  }
}

.search .page-title {
  margin-bottom: 14px;
}

.search .pagination {
  padding: 60px 0;
}

@media (max-width: 500px) {
  .search .pagination {
    padding: 25px 0 30px;
  }
}

@media (max-width: 500px) {
  .search .breadcrumbs__item::after {
    display: none;
  }
}

@media (max-width: 500px) {
  .search .breadcrumbs__item {
    color: #334257;
  }
}

@media (max-width: 500px) {
  .search .breadcrumbs__item .breadcrumbs__link {
    margin-left: 25px;
    margin-right: 0;
  }
  .search .breadcrumbs__item .breadcrumbs__link::before {
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 8px;
    left: 0;
    background-image: url(../img/icons/icon-breadcrumbs-arrow.svg);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    top: 1px;
  }
}

@media (max-width: 500px) {
  .breadcrumbs__list {
    margin-bottom: 26px;
  }
}

@media (max-width: 500px) {
  .breadcrumbs__item--500-hide {
    display: none;
  }
}

.result-info {
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #788AA6;
}

.search-result-list {
  margin: 0;
  padding: 0;
}

.search-result-list__item {
  position: relative;
  padding-left: 111px;
  margin-left: 17px;
  margin-bottom: 46px;
}

@media (max-width: 1024px) {
  .search-result-list__item {
    padding-left: 60px;
  }
}

@media (max-width: 768px) {
  .search-result-list__item {
    padding-left: 100px;
  }
}

@media (max-width: 500px) {
  .search-result-list__item {
    padding-left: 28px;
  }
}

.search-result-list__item:last-child {
  margin-bottom: 0;
}

.search-result-list__item::marker {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  color: #334257;
}

.search-result-list__crumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 500px) {
  .search-result-list__crumbs {
    display: none;
  }
}

.search-result-list__crumb-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-result-list__crumb-item::before {
  content: "";
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='17' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4h16m0 0-4-2.5M16 4l-4 2.5' stroke='%23C3167C'/%3E%3C/svg%3E");
  width: 17px;
  height: 7px;
  position: absolute;
  right: -27px;
}

.search-result-list__crumb-item:last-child a {
  color: #334257;
}

.search-result-list__crumb-item:last-child::before {
  display: none;
}

.search-result-list__crumb-link {
  font-family: var(--ff-2);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #7895A6;
  text-decoration: none;
}

.search-result-list__title {
  font-family: var(--ff-1);
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: #334257;
  margin: 0;
  margin-bottom: 13px;
  text-decoration: none;
}

@media (max-width: 500px) {
  .search-result-list__title {
    font-size: 18px;
  }
}

.search-result-list__title b {
  color: #C3167C;
}

.search-result-list__text {
  margin: 0;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #334257;
  margin-bottom: 21px;
}

.search-result-list__text b {
  color: #C3167C;
}

@media (max-width: 1024px) {
  .pagination__link {
    padding: 20px 18px;
  }
}

@media (max-width: 500px) {
  .pagination__link {
    padding: 11px 15px;
    max-width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.pagination__link:hover {
  background-color: #eef4f7;
  color: #000000;
}

@media (max-width: 1024px) {
  .pagination__link--text {
    font-size: 16px;
    line-height: 100%;
    max-width: 208px;
    width: 100%;
    min-width: initial;
    padding: 19px 20px;
    margin: 0;
  }
}

@media (max-width: 500px) {
  .pagination__link--text {
    font-size: 0;
    line-height: 0;
    padding: 19px 19px;
  }
}

@media (max-width: 1024px) {
  .pagination__link--text svg {
    display: none;
  }
}

@media (max-width: 500px) {
  .pagination__link--text svg {
    display: block;
  }
}

.pagination__link--text:hover {
  background: #303f82;
  border-color: #303f82;
  color: #fff;
}

@media (max-width: 1440px) {
  .pagination__item--1440 {
    display: none;
  }
}

.pagination__list {
  gap: 16px;
}

@media (max-width: 500px) {
  .pagination__list {
    gap: 3px;
  }
}

@media (max-width: 1024px) {
  .pagination__item:first-child a,
  .pagination__item:last-child a {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .pagination__item--768 {
    display: none;
  }
}

@media (max-width: 500px) {
  .search .breadcrumbs {
    margin-bottom: 20px;
  }
}

.pagination__link.active {
  background-color: #0098d0;
  color: #ffffff;
  border-color: #0098d0;
}

.pagination__item:first-child {
  margin-right: 3px;
}

.pagination__item:last-child {
  margin-left: 3px;
}

.licens-and-cert {
  padding: 0 0 55px;
}

@media (max-width: 650px) {
  .licens-and-cert {
    padding: 0;
  }
}

.licens-and-cert__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .licens-and-cert__list {
    gap: 47px 32px;
  }
}

@media (max-width: 995px) {
  .licens-and-cert__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 650px) {
  .licens-and-cert__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 29px;
  }
}

.licens-and-cert__item {
  width: calc(25% - 32px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 995px) {
  .licens-and-cert__item {
    width: calc((100% / 3) - 32px);
  }
}

@media (max-width: 650px) {
  .licens-and-cert__item {
    width: calc(50% - 32px);
  }
}

@media (max-width: 450px) {
  .licens-and-cert__item {
    width: 100%;
  }
}

.licens-and-cert__link {
  max-width: 224px;
}

.licens-and-cert__link img {
  display: block;
}

.licens-and-cert__text {
  margin: 0;
  font-family: var(--ff-1);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
  color: #334257;
}

.all-reviews {
  padding-bottom: 26px;
}

.all-reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 520px) {
  .all-reviews__list {
    gap: 10px;
  }
}

.all-reviews__item {
  width: 100%;
}

.review-card {
  background: #ffffff;
  border: 1px solid #e8eaed;
  border-radius: 8px;
  color: #7895A6;
  font-family: var(--ff-2);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding: 38px 48px 40px;
  margin: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1024px) {
  .review-card {
    padding-bottom: 104px;
    gap: 16px;
    padding-top: 31px;
  }
}

@media (max-width: 520px) {
  .review-card {
    padding: 12px 25px;
    padding-bottom: 136px;
  }
}

.review-card__left {
  width: 350px;
}

@media (max-width: 1024px) {
  .review-card__left {
    width: 100%;
  }
}

.review-card__right {
  width: calc(100% - 350px - 114px);
}

@media (max-width: 1024px) {
  .review-card__right {
    width: 100%;
  }
}

.review-card__name {
  margin: 0;
  font-family: var(--ff-1);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.3;
  color: #334257;
}

.review-card__date {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-bottom: 70px;
  display: inline-block;
}

@media (max-width: 1024px) {
  .review-card__date {
    margin: 0;
  }
}

.review-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1024px) {
  .review-card__wrapper {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
}

@media (max-width: 520px) {
  .review-card__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 20px;
  }
}

@media (max-width: 520px) {
  .review-card__wrapper {
    left: 25px;
  }
}

.review-card__logo {
  max-width: 181px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.review-card__btn {
  width: 137px;
  font-family: var(--ff-2);
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  padding: 10px;
}

.review-card__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.review-card__expert {
  margin: 0;
  color: #334257;
}

.review-card__expert span {
  color: #7895A6;
}

.review-card__filial {
  margin: 0;
  color: #334257;
}

.review-card__filial span {
  color: #7895A6;
}

.review-card__content {
  margin: 0;
  color: #334257;
}

.container {
  max-width: calc(992px + 48px + 48px);
  padding: 0 48px;
  margin: 0 auto;
}

.header-new {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100%;
  z-index: 999;
  background-color: #ffffff;
  border-bottom: 1px solid #ebedef;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 425px) {
  .header-new .wrapper {
    padding: 0;
  }
}

.header-new__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 224px auto;
      grid-template-columns: 224px auto;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 950px) {
  .header-new__grid {
    -ms-grid-columns: 127px auto;
        grid-template-columns: 127px auto;
  }
}

@media (max-width: 425px) {
  .header-new__grid {
    padding: 0 20px;
  }
}

@media (max-width: 355px) {
  .header-new__grid {
    padding: 0 15px;
  }
}

.header-new__logo {
  padding: 20px 46px;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
  border-right: 1px solid #ebedef;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 950px) {
  .header-new__logo {
    -ms-grid-row: initial;
        grid-row-start: initial;
    grid-row-end: initial;
    padding: 8px 0;
    border-right: none;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
}

.header-new__logo img {
  max-width: 176px;
  display: block;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 950px) {
  .header-new__logo img {
    max-width: 127px;
  }
}

.header-new__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 11px 15px 12px;
  padding-right: 0;
  border-bottom: 1px solid #ebedef;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 950px) {
  .header-new__top {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    background-color: #EEF4F7;
    border-bottom: none !important;
    padding-left: 0;
  }
}

@media (max-width: 425px) {
  .header-new__top {
    padding: 8px 0;
    gap: 16px;
  }
}

.header-new__top:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  border-bottom: 1px solid #ebedef;
  top: 1px;
}

@media (max-width: 950px) {
  .header-new__top:after {
    background-color: #EEF4F7;
    border-bottom: none !important;
    top: 0;
  }
}

@media (max-width: 950px) {
  .header-new__top::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 100%;
    background-color: #EEF4F7;
    top: 0;
  }
}

.header-new__sub-menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.header-new__sub-menu-list a {
  font-family: var(--ff-2);
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #334257;
}

@media (max-width: 355px) {
  .header-new__sub-menu-list a {
    font-size: 10px;
  }
}

.header-new__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
  padding-right: 0;
  border-right: 1px solid #ebedef;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

@media (max-width: 950px) {
  .header-new__bottom {
    padding-left: 45px;
  }
}

@media (max-width: 800px) {
  .header-new__bottom {
    padding-left: 0;
    margin-left: auto;
    gap: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (max-width: 425px) {
  .header-new__bottom {
    border-right: none;
    -webkit-transform: translate(20px, 0);
            transform: translate(20px, 0);
  }
}

.header-new__menu {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (max-width: 1550px) {
  .header-new__menu {
    display: none;
  }
}

.header-new__menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0;
}

.header-new__menu-item {
  position: relative;
}

.header-new__menu-link {
  font-family: var(--ff-2);
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #334257;
  padding: 16px 8px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.header-new__contacts {
  max-width: 423px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .header-new__contacts {
    display: none;
  }
}

@media (max-width: 750px) {
  .header-new__contacts .tel-link {
    display: none;
  }
}

.header-new__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn--new {
  font-weight: 700;
  font-size: 16px;
  padding: 16px 20px;
  border-radius: 0;
  margin: 0;
  background-color: #0098d0;
  color: #fff;
  border: none;
  font-family: var(--ff-2);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.btn--new:hover {
  background: #303f82;
}

.button-search {
  background: transparent;
  border: none;
  border-radius: 0;
  width: 56px;
  height: 56px;
  padding: 0;
  margin: 0;
}

@media (max-width: 1024px) {
  .button-search {
    padding: 0 !important;
  }
}

@media (max-width: 425px) {
  .button-search {
    width: 86px;
    height: 70px;
  }
}

@media (max-width: 355px) {
  .button-search {
    width: 56px;
    height: 56px;
  }
}

.button-menu {
  display: none;
}

@media (max-width: 1550px) {
  .button-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1024px) {
  .button-menu {
    padding: 0 !important;
  }
}

@media (max-width: 425px) {
  .button-menu {
    width: 86px;
    height: 70px;
  }
}

@media (max-width: 355px) {
  .button-menu {
    width: 56px;
    height: 56px;
  }
}

@media (max-width: 425px) {
  .wrapper {
    padding: 0 20px;
  }
}

.sticky {
  -webkit-box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.2);
  border-bottom: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.sticky .header-new__grid {
  -ms-grid-columns: 127px auto;
      grid-template-columns: 127px auto;
}

.sticky .header-new__top {
  display: none;
}

.sticky .header-new__logo {
  grid-row-end: 2;
  border-right: none;
  padding: 8px 0;
}

.sticky .header-new__logo img {
  max-width: 127px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.sticky .header-new__bottom {
  padding-left: 32px;
}

@media (max-width: 425px) {
  .sticky .header-new__bottom {
    padding-left: 0;
  }
}

.header-new__menu-item:hover .main-nav__sublist {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  pointer-events: initial;
}

.header-new__menu-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #0098d0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.header-new__menu-link:hover::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main-nav-mobile {
  position: absolute;
  width: 100%;
  background-color: red;
  left: 100%;
}

.mobile-main-nav.active {
  left: 0;
}
/*# sourceMappingURL=style--new.css.map */