$base: #334257;
$base-bg: #ffffff;
$bg-1: #eef4f7;
$bg-2: #eef4f6;
$bg-3: #9aa1ac;
$bg-4: #7895a6;

$brand-1: #0098d0;
$brand-2: #a7c5f9;
$brand-3: #303f82;
$brand-4: #c3167c;
$brand-5: #788aa6;
$brand-6: #f8fafc;

$border: #ebedef;
$border-2: #e8eaed;

$nfs: 0.3s;

$font-1: 'Montserrat',
sans-serif;
$font-2: 'Open Sans',
sans-serif;
