$base-content: #334257;

$base-bg: #ffffff;
$bg-1: #EEF4F7;
$bg-2: #eef4f6;
$bg-3: #9AA1AC;
$bg-4: #7895a6;

$brand-1: #0098d0;
$brand-2: #A7C5F9;
$brand-3: #303F82;
$brand-4: #C3167C;

// $border: #33425730;
$border: #ebedef;
